// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$go-brown-dark:#50332F;
$go-brown-light:#CD8377;
$go-yellow-dark:#FFCE80;
$go-yellow-light:#FFE57F;
$go-yellow-light:#FFE57F;
$go-green-middle:#9DD65B;
$go-green-light:#D2F07B;
$go-blue-light:#E4FFFF;
$go-blue-middle:#C4EBFF;
$go-blue-dark:#97CCF8;
$go-blue-light-transp: #e4ffffa8;
$go-green-light-transp:#d3f07ba6;
