// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500&family=Merriweather+Sans&family=Roboto+Slab:wght@500&family=Roboto:wght@300&family=Source+Sans+Pro:wght@300&family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;700&family=Maven+Pro:wght@400;700&family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;700&family=Maven+Pro:wght@400;700&family=Montserrat:wght@400;700&display=swap');

@font-face {
  font-family: 'PixelColeco-4vJW';
  src: url('PixelColeco-4vJW.ttf');
}

@font-face {
  font-family: 'Retro Gaming';
  src: url('Retro Gaming.ttf');
}

// Define fonts for body and headers
// $body-font: "Maven Pro", "Helvetica", "sans-serif";
// $headers-font: "Maven Pro", "Helvetica", "sans-serif";
$body-font: "Retro Gaming", "Helvetica", "sans-serif" ;
$headers-font: "PixelColeco-4vJW", "Helvetica", "sans-serif";
//$headers-font: "Fredoka", "Helvetica", "sans-serif";

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";
