.main-container {
  background: rgb(137,189,224);
  background: linear-gradient(0deg, rgba(137,189,224,1) 0%, rgba(151,204,248,1) 35%, rgba(196,235,255,1) 100%);
  height: 90vh;
}

.windows-container {
  display: flex;
  justify-content: space-between;
  //margin: 50px;
}

.selected-tasks-container {
    width: 350px;
    height: 30vh;
    //background: $go-yellow-dark;
    background: wheat;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 10px 0px 0px;

  & .user-selected-tasks {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0px 10px 0px 10px;
    overflow: scroll;
  }

::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
  }
  /* Optional: show position indicator in red */
  ::-webkit-scrollbar-thumb {
      background: #FF0000;
  }

  & li {
    background-color: $go-green-light;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 10px;
    box-shadow: 2px 4px 6px 0px #3E8932;
  }

}

.garden-container {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
  position: relative;
  top: -170px;


}

.user-plant {
  display: inline-block
}
