// Specific CSS for your home-page
#blank {
  top: 70vh;
  position: relative;
  height: 100vh;
  background: linear-gradient(0deg, rgba(137,189,224,1) 100%, rgba(151,204,248,1) 35%, rgba(196,235,255,1) 0%);
}
