<div class="bottom-menu">

  <div class="circle-left">
    <%= render "garden_users/lvlup_plant", user: current_user %>
  </div>

  <div class="plant-lvl-center">
      <%= render 'shared/explvl'%>
      <%= render 'dashboard_partials/xpbar'%>
  </div>

  <div class="ground">
  </div>

  <div class="circle-right">
    <div class="last-completed-tasks">
     <%= render 'dashboard_partials/completedTasks.html' %>
    </div>
  </div>
</div>
