<br>

<h2>Garden Users</h2>

<br>

<% @garden_users.each do |garden_user| %>
  <% @users.each do |user| %>
    <% if garden_user.user_id == user.id && garden_user.garden_id == @garden.id %>
      <li><%= user.first_name %></li>
    <% end %>
  <% end %>
<% end %>

<br>
<p>test</p>
<br>
