<div id="app" data-controller="demo">
    <button data-action="click->demo#launchDemo" class="btn-dashboard">Select Tasks</button>

    <div class="modal" data-controller="modal" data-demo-target="modal">
        <div class="modal-dialog">
            <div class="modal-content">
              <h1>Welcome to the task board</h1>

              <div class="select-tasks" >
                <%= simple_form_for @select_task do |f| %>
                  <%= f.association :task, as: :check_boxes, input_html: { data: {controller:'checkbox', target:'check', action:'click->toggle'} } %>
                  <%= f.hidden_field :garden_id, value: params[:garden_id] %>
                  <%= f.submit class: 'btn-dark' %>
                <% end %>
              </div>

              <button data-action="click->modal#close">Close</button>
            </div>
        </div>
    </div>
</div>
