<div id="app" data-controller="demo">
    <button data-action="click->demo#launchDemo" class="btn-dashboard">Select Tasks</button>

    <div class="modal" data-controller="modal" data-demo-target="modal">
        <div class="modal-dialog">
            <div class="modal-content">
              <h4>Welcome to the task board</h4>

              <div class="select-tasks" >
                <%= simple_form_for @select_task do |f| %>
                  <%= f.association :task, as: :check_boxes, input_html: { class: "tag-selector", data: {controller:'checkbox', target:'check', action:'click->toggle'} }, item_wrapper_class: 'tag-item', legend_tag: false %>
                  <%= f.hidden_field :garden_id, value: params[:garden_id] %>
                  <%= f.button :submit, 'Add tasks', class: 'btn-dashboard'%>
                <% end %>
              </div>

              <button id="close-button" data-action="click->modal#close">X</button>
            </div>
        </div>
    </div>
</div>
