<div class="selected-tasks-container">
<h2>Your tasks</h2>

  <% if @select_tasks.select {|task| task[:status] == false && task.user_id == current_user.id } == [] %>
    <p><%= "You have no tasks for today" %></p>
  <% end %>

  <ul class="user-selected-tasks">
    <% @select_tasks.each do |select_task| %>
      <% @tasks.each do |task| %>
        <% if select_task.user_id == current_user.id && select_task.task_id == task.id %>
          <% if select_task.status == false %>
            <li><%= task.title %>
              <%= link_to "V",
                  select_task_path(select_task[:id]),
                  method: :patch,
                  data: { confirm: "Have you really done this ?" }
                  %> / <%=  link_to "X",
                  select_task_path(select_task[:id]),
                  method: :delete,
                  data: { confirm: "Are you sure?" }
              %>
            </li>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </ul>

</div>
