<div class="user-plant-info">
            <h4><%= current_user.first_name%></h4>
            <h4> - Level <%=compute_lvl(current_user).floor %></h4>
            <p> - <%= plant_type(current_user)%></p>
            <p> - <%= status(current_user)%></p>
</div>
