<div class="user-plant-info">
            <h4><%= @user.first_name%></h4>
            <h4> - Level <%=compute_lvl(@user).floor %></h4>
            <p> - <%= plant_type(@user)%></p>
            <p> - <%= status(@user)%></p>
</div>
