<div class="user-plant-info">
            <h4><%= "#{@user.first_name}"%></h4>
            <p> | <%= render "/shared/lvlup" %> - </p>

            <% if @user.exp >= 0 && @user.exp < 350 %>
              <p>Bean</p>
            <% elsif @user.exp >= 350 && @user.exp < 600 %>
              <p>Tomato</p>
            <% end %>
            <% if @user.status == 0 %>
              <p> - Dead</p>
            <% elsif @user.status == 1 %>
              <p>- Alive</p>
            <% else %>
              <p>- Thirsty</p>
            <% end %>
</div>
