<div class="garden-container">
    <% @garden_users.each do |garden_user| %>
      <% @users.each do |user| %>
        <% if garden_user.user_id == user.id && garden_user.garden_id == @garden.id %>
          <div class="user-plant">
            <br>
            <h4><%= "#{user.first_name}" %></h4>
            <%= render "garden_users/lvlup_plant", user: user %>
          </div>
        <% end %>
      <% end %>
    <% end %>
</div>
