<div class="bottom-menu">
  <div class="circle-left">
    <img src=<%= current_user.plant_url %> alt="Planty" width="150" height="150">

  </div>

  <div class="plant-lvl-center">
      <%= render 'shared/explvl'%>
  </div>

  <div class="circle-right">

  </div>
</div>
