<div class="bottom-menu">
  <div class="plant-info-left">
    <div class="circle-left">

    </div>
  </div>

  <div class="plant-lvl-center">
  </div>

  <div class="task-menu-right">
    <div class="circle-right">

    </div>
  </div>
</div>
