<div class="main-container">

  <div class="windows-container">
      <div>
        <%= render 'shared/users_garden_list' %>
      </div>
      <div>
        <%= render 'dashboard_partials/selectedTasks.html' %>
      </div>

  </div>

  <div>
    <%= render 'shared/bottom_menu' %>
      <div>
    <%= render 'dashboard_partials/user_plant' %>
    </div>
  </div>
</div>
