<div class="main-container">
  <div>
    <%= render 'garden_users/index' %>
  </div>
  <div>
    <%= render 'select_tasks/index' %>
  </div>

  <div>
    <%= render 'shared/bottom_menu' %>
  </div>

  <div>
    <%= render 'shared/users_garden_list' %>
  </div>
</div>
