<div class="home">
  <div class="landing-card">
    <h3 id="gogreen">Go Green!</h3>
    <div class="about">
    <h4><strong>Welcome on Go-green!</strong></h4>
      <p>Go-green! is a web app game witch helps you reduce your carbon footprint because it transposes real life actions to a game</p>
      <br>
    <h4><strong>How to play</strong></h4>
      <p>1. Create a garden</p>
      <p>2. Invite friends</p>
      <p>3. Recieve a free seed</p>
      <p>4. Complete real life tasks to grow your plant</p>
      <p>5. Make the planet a better place to live!</p>
      <%= link_to "Start Playing!", "#end", data: {controller: "scroll-to"}, id: "button-landing"  %>

    </div>
  </div>
  <div class='form-section'>
    <%= render 'devise/sessions/new' %>
    <div id="blank">
      <div class="x1">
          <div class="cloud"></div>
      </div>

      <div class="x2">
          <div class="cloud"></div>
      </div>

      <div class="x3">
          <div class="cloud"></div>
      </div>

      <div class="x4">
          <div class="cloud"></div>
      </div>

      <div class="x5">
          <div class="cloud"></div>
      </div>
    </div>
  </div>
</div>
