<div class="home">
  <div class="landing-card">
    <h3 id="gogreen">Go Green!</h3>
    <div class="about">
    <h5><strong>Welcome on Go-green!</strong></h5>
      <p style="text-transform:uppercase;">Go-green! is a web app game witch helps you reduce your carbon footprint because it transposes real life actions to a game</p>
      <br>
    <h5><strong>How to play</strong></h5>
      <p style="text-transform:uppercase;">Create a garden</p>
      <p style="text-transform:uppercase;">Invite friends</p>
      <p style="text-transform:uppercase;">Recieve a free seed</p>
      <p style="text-transform:uppercase;">Complete real life tasks to grow your plant</p>
      <p style="text-transform:uppercase;">Make the planet a better place to live!</p>
      <br>
      <%= link_to "Start Playing!", "#end", data: {controller: "scroll-to"}, id: "button-landing"  %>
    </div>
  </div>
  <div class='form-section'>
    <%= render 'devise/sessions/new' %>
    <div id="blank">
      <div class="x1">
          <div class="cloud"></div>
      </div>

      <div class="x2">
          <div class="cloud"></div>
      </div>

      <div class="x3">
          <div class="cloud"></div>
      </div>

      <div class="x4">
          <div class="cloud"></div>
      </div>

      <div class="x5">
          <div class="cloud"></div>
      </div>
    </div>
  </div>
</div>
