<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://media.giphy.com/media/3o7WTOoMpIy5uXW3PW/giphy.gif);">
  <div class="container">
    <h1><strong>Go Green</strong></h1>
    <p>The game that makes you <strong>Go Greener</strong></p>
    <% if user_signed_in? %>
      <%= link_to "Play Now", dashboard_path, class: "btn btn-ghost" %>
    <% else %>
      <%= link_to "Sign in", new_user_session_path, class: "btn btn-ghost" %>         <%= link_to "Sign up", new_user_registration_path, class: "btn btn-ghost" %>
    <% end %>
  </div>
</div>

<div>
<h2>How to play?</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi consectetur commodi odio, perspiciatis aspernatur expedita repudiandae porro aliquam, harum ipsum qui tempora dolorem, dolore quas placeat molestiae soluta! Cupiditate, nihil.</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi consectetur commodi odio, perspiciatis aspernatur expedita repudiandae porro aliquam, harum ipsum qui tempora dolorem, dolore quas placeat molestiae soluta! Cupiditate, nihil.</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi consectetur commodi odio, perspiciatis aspernatur expedita repudiandae porro aliquam, harum ipsum qui tempora dolorem, dolore quas placeat molestiae soluta! Cupiditate, nihil.</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi consectetur commodi odio, perspiciatis aspernatur expedita repudiandae porro aliquam, harum ipsum qui tempora dolorem, dolore quas placeat molestiae soluta! Cupiditate, nihil.</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi consectetur commodi odio, perspiciatis aspernatur expedita repudiandae porro aliquam, harum ipsum qui tempora dolorem, dolore quas placeat molestiae soluta! Cupiditate, nihil.</p>
<h2>About the game!</h2>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio dolore, enim quaerat modi qui reprehenderit fugit quis nisi deserunt totam vero perspiciatis expedita aperiam cupiditate. Incidunt labore nemo dicta tempore!</p>
</div>
