<div class="home">
  <div class="landing-card">
    <h3 id="gogreen">Go Green!</h3>
    <div class="about">
      <h5>How to play</h5>
        <p>1. Play with your friends, do some daily tasks to grow your plant</p>
        <p>2. enjzadkekjazehdjkaeakejdeazdzajdea</p>
        <a id="button-landing" href="#bottom">Start Playing!</a>
    </div>
  </div>
  <div class='form-section'>
    <%= render 'devise/sessions/new' %>
    <div id="blank">
      <div class="x1">
          <div class="cloud"></div>
      </div>

      <div class="x2">
          <div class="cloud"></div>
      </div>

      <div class="x3">
          <div class="cloud"></div>
      </div>

      <div class="x4">
          <div class="cloud"></div>
      </div>

      <div class="x5">
          <div class="cloud"></div>
      </div>
    </div>
  </div>
</div>
