.bottom-menu {
  height: 90px;
  width: 100vw;
  position: fixed;
  bottom: 0px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

}

.circle-left {
  //background-color: $go-brown-dark;
  background: rgb(131,84,78);
  background: radial-gradient(circle, rgba(131,84,78,1) 0%, rgba(80,51,47,1) 100%);
  border: solid 10px $go-brown-light;
  border-radius: 50%;
  height: 400px;
  width: 400px;
  position: relative;
  left: -70px;
  top: 70px;
  z-index: 5;
  display: flex;
  align-items: flex-end;
  justify-content: center;

  & img {
    height: 70%;
    bottom: 80px;
    position: relative;
  }

}

.plant-lvl-center {
  //background-color: $go-brown-dark;
  background: rgb(131,84,78);
  background: radial-gradient(circle, rgba(131,84,78,1) 0%, rgba(80,51,47,1) 100%);
  border-top: solid 10px $go-brown-light;
  width: 100%;
  height: 90px;
  position: absolute;
  bottom: 0;
  z-index: 4;
  //display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  & .user-plant-info {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  & p {
    margin-bottom: 0px;
    color: $go-green-light;
  }

  & h4 {
    margin-bottom: 0px;
    color: $go-green-light;

  }

}

.circle-right {
  //background-color: $go-brown-dark;
  background: rgb(131,84,78);
  background: radial-gradient(circle, rgba(131,84,78,1) 0%, rgba(80,51,47,1) 100%);
  border: solid 10px $go-brown-light;
  border-radius: 70px;
  height: 500px;
  width: 500px;
  position: absolute;
  right: -125px;
  top: -260px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
  overflow: scroll;

  & .last-completed-tasks {
    object-fit: contain;
    width: 70%;
    position: absolute;
    //top: 75px;
    top: 20px;
    left: 30px;

  }

  & ul {
    padding-left: 0px;
  }

  & li {
    list-style: none;
    font-size: 12 px;
    background-color: $go-brown-light;
    color: white;
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 5px 9px 10px 0px rgba(51,32,30,1);
  }

  & h4 {
    margin-top: -10px;
    margin-bottom: 10px;
    color: $go-green-light;
    text-align: center;
  }

  & p {
    color: white;
    text-align: center;
  }

}

#water {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 52px;
}
