.bottom-menu {
  height: 200px;
  width: fill-available;
  position: fixed;
  bottom: 0px

}

.circle-left {
  background-color: $go-blue-light;
  border-radius: 50%;
  height: 400px;
  width: 400px;
  position: absolute;
  left: -70px;
  top: -95px;
  z-index: 1;

  & img {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 80px;
    left: 100px;
  }

}

.plant-lvl-center {
  background: azure;
  height: 150px;
  width: 100%;
  position: absolute;
  top: 50px;
  z-index: 0;
}

.exp-bar {
  justify-content: center;
  display: flex;
  margin-top: 80px;
}


.circle-right {
  background-color: $go-blue-light;
  border-radius: 50%;
  height: 500px;
  width: 500px;
  position: absolute;
  right: -70px;
  top: -140px;
  z-index: 1;

}
