.selected-tasks-container {
  width: 350px;
  height: 30vh;
  //background: $go-yellow-dark;
  background: $go-blue-dark;
  border-radius: 10px;
  display: flex;
  position: relative;
  //z-index: 5;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 10px 0px 0px;

& .user-selected-tasks {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0px 10px 0px 10px;
  overflow: scroll;
}

& li {
  background-color: $go-green-light;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 10px;
  box-shadow: 2px 4px 6px 0px #3E8932;
}

& li:hover {
  transform: scale(1.025);
}

}
