.member {
  list-style: none;
  display: inline-block;

  & li {
    list-style: none;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  & h4 {
    padding: 0px 5px 0px 5px;
  }

}
