.xp-container {
  display: flex;
  justify-content: center;
  align-items: center;


  &  .progress {
    display: flex;
    background-color: $go-brown-light;
    color: $go-yellow-light;
    width: 30vw;
    margin: 10px;
  }

  & .bg-warning {
    background-color: $go-green-light !important;
    color: $go-brown-dark;
  }
}
