<h1>Your tasks</h1>
<br>
<% @select_tasks.each do |select_task| %>
  <% @tasks.each do |task| %>
    <% if select_task.user_id == current_user.id && select_task.task_id == task.id %>
      <h6><strong><%= task.title %></strong></h6>
      <p><%= task.title %> </p>
    <%end %>
  <%end %>
<%end %>
